.home {
  background: #0a0a0a;
  color: white;
  padding: 20px;
}

.hero {
  background: linear-gradient(135deg, #4b3cff, #eaff00);
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.hiroba {
  width: 80vw; /* ←ここで横サイズ調整 */
  max-width: 700px; /* ←PCで止める */

  aspect-ratio: 3 / 2;

  margin: 40px auto;

  background: #111;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.block {
  background: #111;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}