.hiroba-container {
  position: absolute;
  inset: 0;

  background-image: url("/images/hirobahaikei.jpg");

  background-size: contain; /* ←ここ戻す */
  background-position: center;
  background-repeat: no-repeat;

  background-color: #000; /* ←余白を黒にする（自然） */
}

/* キャラ */
.character {
  position: absolute;
}

.character img {
  width: 40px;
}
background-size: 110%;